DATABASE_URL="postgresql://bumdes:bumdes123@localhost:5432/si_bumdes?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="ganti_dengan_secret_yang_acak_minimal_32_karakter"
APP_NAME="SI-BUMDes Maju Langgeng"
NODE_ENV="development"
